body {
	background-color: #f2f2f2;
}
#app {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.pala {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
}
.mouth, .eye1, .eye2, .pala {
	transition: all .5s;
}
.eye1 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	position: absolute;
	left: 90px;
	top: 120px;
}
.eye2 {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	position: absolute;
	right: 90px;
	top: 120px;
}
.normal .pala {
	background-color: #EED16B;
	border: 30px solid #DAAD50;
}
.normal .eye1 {
	background-color: #DAAD50;
}
.normal .eye2 {
	background-color: #DAAD50;
}
.normal .mouth {
	border-radius: 50px;
}
.normal .mouth {
	background-color: #DAAD50
}
.smile .pala {
	background-color: #A9DB7A;
	border: 30px solid #8EC567;
}
.smile .eye1 {
	background-color: #8EC567;
}
.smile .eye2 {
	background-color: #8EC567;
}
.smile .mouth {
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: #8EC567
}
.sad .pala {
	background-color: #ee9295;
	border: 30px solid #e17379;
}
.sad .eye1 {
	background-color: #e17379;
}
.sad .eye2 {
	background-color: #e17379;
}
.sad .mouth {
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background-color: #e17379
}
.mouth {
	position: absolute;
	top: 250px;
	left: 100px;
	width: 210px;
	height: 50px;
}

.buttons {
	text-align: center;
}
