* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f2f3f4;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	animation-timing-function: ease-in;
}

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#container {
	width: 100px;
	position: relative;

}

.red {
	background-color: #F63D3A;
  	animation: roll1 2.5s infinite;
}

.yellow {
	background-color: #FDA543;
	top: 45px;
  	animation: roll2 2.5s infinite;
}
.green {
	background-color: #19A68C;
	left: 45px;
  	animation: roll3 2.5s infinite;
}
.blue {
	background-color: #193B48;
	left: 45px;
	top: 45px;
  	animation: roll4 2.5s infinite;
}

@keyframes roll1 {
	0% {left: 0px; top: 0px;}
	25% {left: 45px; top: 0px;}
	50% {top: 45px; left: 45px;}
	75% {top: 45px; left: 0;}
	100% {left: 0px; top: 0px;}
}
@keyframes roll2 {
	0% {left: 45px; top: 0px;}
	25% {top: 45px; left: 45px;}
	50% {top: 45px; left: 0;}
	75% {left: 0px; top: 0px;}
	100% {left: 45px; top: 0px;}
}
@keyframes roll3 {
	0% {top: 45px; left: 45px;}
	25% {top: 45px; left: 0;}
	50% {left: 0px; top: 0px;}
	75% {left: 45px; top: 0px;}
	100% {top: 45px; left: 45px;}
}
@keyframes roll4 {
	0% {top: 45px; left: 0;}
	25% {left: 0px; top: 0px;}
	50% {top: 0px; left: 45px;}
	75% {left: 45px; top: 45px;}
	100% {top: 45px; left: 0;}
}